<div class='bltm-buttons'>
  <button type='submit' name='submit' data-action='submit' class='bltm-update-btn'>
    {{localize 'boss-loot-token-manager.ui.button.update'}}
  </button>
  <button type='submit' name='rollback' data-action='rollback' class='bltm-rollback-btn'>
    {{localize 'boss-loot-token-manager.ui.button.rollback'}}
  </button>
</div>