<div class='bltm-actor'>
  <div class='actor-info'>
    <img id='bltm-actor-img' src='icons/svg/cowled.svg' />
    <label id='bltm-actor-name'>{{localize 'boss-loot-token-manager.ui.actorName'}}</label>
    <input type='hidden' name='actor.uuid' id='bltm-actor-uuid' value='' />
  </div>
  <div class='drop-area'>{{localize 'boss-loot-token-manager.ui.dropActor'}}</div>
</div>